.skills{
    padding-bottom: 110px
}

.skills__title{
    @extend %section__title;
}

.skills__description{
    @extend %description;
    text-align: center;
    margin-top: 69px;
    margin-bottom: 86px;
}

.skills__list{
    display: flex;
    gap: 90px;
    @media screen and (max-width:1199px) {
        display: block;
    }
}

.skills__item{
    width: 166.46px;
    justify-content: center;
    text-align: center;
    @media screen and (max-width:1199px) {
        width: 100%;
        margin-bottom: 80px;
    }
}

.skills__item:last-child{
    margin-bottom: 0;
}

.skills__img{
    margin-left: auto;
    margin-right: auto;
}

.skills__stars{
    display: flex;
    gap: 9px;
    justify-content: center;
}