%text-link {
    font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 1.22;
color: #828282;
}

%big-title {
    font-family: 'Gilroy-Bold';
font-size: 47.3392px;
line-height: 1.25;
color: #070707;
}


%description {
    font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 1.22;
color: #070707;
}

%section__title {
    font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 1.23;
text-align: center;
color: #070707;

}